
datasets>=2.8.0
onnx>=1.14.0
optimum>=1.17.0
protobuf==3.20.2
torch
# transformers optimizer fusions don't match in newer versions
azure-ai-ml==1.22.4
azure-identity
azure-keyvault-secrets
azureml-fsspec
huggingface_hub
marshmallow==3.23.2